{% extends "cms.html" %}

{% block main %}

	<div class="row s12">
		<div class="col s12">

            <h5>Country Explorer</h5>
            <div class="row">
              <div class="card s12 blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Goals</span>
                  <p>
                  	<a href="/admin/country_explorer/goals">Select from All Goals</a>
                  </p>
                </div>
              </div>
              <div class="card s12 blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Curated</span>
                  <p>
                  	<a href="/admin/country_explorer/curated">View All Curated Goals</a>
                  </p>
                </div>
              </div>
            </div>
		</div>
	</div>

{% endblock %}


