{% extends "base_temp.html" %}
{% block main %}
<div class="row hide-for-small">
    <div id="goal_container_front" class="large-12 columns">

        <div class="row feed_row">
                
            <div class="large-2 small-2 columns user_profile_modal feed_profile_card" data-user-id="{{user_profile.key.id()}}">
                <div class="profile_img_container" style="background-image: url('{{user_profile.profile_img}}')">
                </div>
                    <div class="user_profile_name">{{user_profile.name}}</div>
                <div class="text-center">
                    <img class="diamond_line" src="/static/images/diamond.png" />
                </div>
                    
                    <div class="italic roboto text-center border-bottom pad_10px">
                        {{user_profile.total_followers}} Followers
                    </div>
                    
                    <div class="italic roboto text-center border-bottom pad_10px">
                        {{user_profile.total_goals}} Goals
                    </div>
                    
                    <div class="italic roboto text-center border-bottom pad_10px">
                        {{user_profile.total_victories}} Victories
                    </div>
                    
                    
                    <div class="user_profile_text">
                        <div>
                            <div class="score_diamond text-center">
                                <span class="score_number">{{user_profile.total_points}}</span>
                            </div>
                            <div class="total_score_text">TOTAL SCORE</div>
                        </div>
                        
                        {% if user_obj %}
                            <div>
                                <div class="button orange tiny follow_user {% if already_following %}hidden{% endif %} expand no_margin" data-user-id="{{user_profile.key.id()}}">Follow</div>
                                <div class="button orange tiny unfollow_user {% if not already_following %}hidden{% endif %} expand no_margin" data-user-id="{{user_profile.key.id()}}">Unfollow</div>
                            </div>
                        {% endif %}
                        
                        <div class="user_status_container">
                            <div class="user_status" style="
                            {% if user_profile.status == 'None' %}
                                background-image: url('/static/images/1_beginner.png')
                            {% elif user_profile.status == 'beginner' %}
                                background-image: url('/static/images/1_beginner.png')
                            {% elif user_profile.status == 'bronze' %}
                                background-image: url('/static/images/2_Bronze.png')
                            {% elif user_profile.status == 'silver' %}
                                background-image: url('/static/images/3_silver.png')
                            {% elif user_profile.status == 'gold' %}
                                background-image: url('/static/images/4_gold.png')
                            {% elif user_profile.status == 'supreme' %}
                                background-image: url('/static/images/5_supreme.png')
                            {% else %}
                                background-image: url('/static/images/1_beginner.png')
                            {% endif %}
                            
                            "></div>
                        </div>
                    </div>
                <div class="bottom_img_dotted"></div>
            </div>
            
            <div class="large-10 small-10 columns">
                <div id="user_profile_modal_about" class="bv_panel">
                    <h5>About me</h5>
                    <p>
                        {% if user_profile.description %}
                            {{user_profile.description}}
                        {% else %}
                            I'm a beast! I also need to get to filling out my profile.
                        {% endif %}
                    </p>
                </div>
                
                <div class="bv_panel">
                    <!--<h5>Latest Goals</h5>-->
                    <div id="latest_goals_user_modal">
                        <!--{% for l in goals %}
                            {% if loop.index <= 3 %}
                                <div class="user_profile_latest_goals">
                                    <div style="background-image:url('{{l.image}}')" class="user_profile_latest_goal_img">
                                    </div>
                                    <div class="goal_description">
                                        <p>
                                            {{l.description}}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}-->
                        <!-- LAst Goal Last Victory -->
                        {% if last_3_goals %}
                            {% for l in last_3_goals %}
                                <div class="user_profile_latest_goals">
                                    <div style="background-image:url('{{l.image}}')" class="user_profile_latest_goal_img">
                                    </div>
                                    <div class="goal_description">
                                        <p>
                                            {{l.description}}
                                        </p>
                                    </div>
                                </div>
                                
                            {% endfor %}
                        {% else %}
                            <div class="user_profile_latest_goal">
                                <div style="background-image:url('{{last_goal.image}}')" class="user_profile_latest_goal_img">
                                </div>
                                <div class="goal_link"><!-- goal_description -->
                                    <a href="/goals/{{user_profile.key.id()}}"><div class="button blue tiny expand no_margin">{{user_profile.name}}'s Goals</div></a>
                                </div>
                            </div>
                            <div class="user_profile_latest_victory">
                                <div style="background-image:url('{{last_victory.image}}')" class="user_profile_latest_goal_img">
                                </div>
                                <div class="victory_link">
                                    <a href="/victories/{{user_profile.key.id()}}"><div class="button blue tiny expand no_margin">{{user_profile.name}}'s Victories</div></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                
                <div class="bv_clear_panel">
                    {% if user_obj %}
                        <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-1">
                            <li>
                                <a href="/"><div class="button blue tiny expand">Explore Bucket Vision</div></a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-3">
                            <li>
                                <div class="button orange tiny follow_user {% if already_following %}hidden{% endif %} expand" data-user-id="{{user_profile.key.id()}}">Follow</div>
                                <div class="button orange tiny unfollow_user {% if not already_following %}hidden{% endif %} expand" data-user-id="{{user_profile.key.id()}}">Unfollow</div>
                            </li>
                            <li>
                                <a href="/"><div class="button blue tiny expand">Explore Bucket Vision</div></a>
                            </li>
                            <li>
                                <a href="/signup"><div class="button blue tiny expand">Join Bucket Vision</div></a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
                
            </div>
        </div>
        
        <div class="row">
            <div class="large-12 medium-12 small-12 columns text-center">
                <div class="feed_goal_heading text-center margin-top-1em row">
                    {{user_profile.name}}'s Goals
                </div>
            </div>
        </div>
        
        <div id="goal_list" class="page_goals" data-user-id="{{user_profile.key.id()}}">
            
            {% for g in goals %}
                <div id="goal_{{g.key.id()}}" class="item goal_modal_trigger" data-goal-id="{{g.key.id()}}">
                    <img src="{{g.image}}" class="goal_card_img" />
                    <div class="goal_card_text" class="row text-center">
                        
                        {% if user_obj %}
                            {% if g.user == user_obj.key %}
                                <div class="row text-center no_margin goal_card_text_container">
                                    <div class="goal_card_title">{{g.title}}</div>
                                    <div class="goal_description overflow_ellipsis">{{g.description}}</div>
                                    <div class="view_like_container_goal">
                                        <div class="like_view_btn" data-goal-id="{{g.key.id()}}">
                                            <span class="l_v_icon border-right"><img src="/static/images/view.svg" width="27px" height="27px" /></span> <span id="goal_view_{{g.key.id()}}">{{g.views}} Views</span>
                                        </div> 
                                        <div class="like_view_btn goal_like_btn" data-goal-id="{{g.key.id()}}">
                                            <span class="l_v_icon border-right"><img src="/static/images/like.svg" width="27px" height="27px" /></span> {{g.likes}} Likes
                                        </div>
                                    </div>
                                    <div class="row user_controls hidden">
                                        <div class="like_view_btn pointer" data-goal-id="{{g.key.id()}}">
                                            <i class="li_pen"></i> edit
                                        </div> 
                                        <div class="like_view_btn goal_like_btn pointer" data-goal-id="{{g.key.id()}}">
                                            <i class="li_trash"></i> delete
                                        </div>
                                    </div>
                                </div>
                                <div class="row bottom_band text-center" data-user-id="{{g.user.get().key.id()}}">
                                    by you
                                </div>
                            {% else %}
                                <div class="row text-center no_margin goal_card_text_container">
                                    <div class="goal_card_title">{{g.title}}</div>
                                    <div class="goal_description overflow_ellipsis">{{g.description}}</div>
                                    <div class="view_like_container_goal">
                                        <div class="like_view_btn" data-goal-id="{{g.key.id()}}">
                                            <span class="l_v_icon border-right"><img src="/static/images/view.svg" width="27px" height="27px" /></span> <span id="goal_view_{{g.key.id()}}">{{g.views}} Views</span>
                                        </div> 
                                        <div class="like_view_btn goal_like_btn" data-goal-id="{{g.key.id()}}">
                                            <span class="l_v_icon border-right"><img src="/static/images/like.svg" width="27px" height="27px" /></span> {{g.likes}} Likes
                                        </div>
                                    </div>
                                </div>
                                <div class="row bottom_band text-center user_profile_modal pointer" data-user-id="{{g.user.get().key.id()}}">
                                    by {{g.user.get().name}}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% if next %}
                <div id="next_curs" data-cursor="{{next}}" class="hidden"></div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        size_profile_img_container();
    </script>
{% endblock %}